---
// Define las propiedades que recibirá el componente
interface Props {
  pageHeaderBgImg: string;
}

// Aquí puedes definir las propiedades con valores predeterminados si es necesario
const { pageHeaderBgImg } = Astro.props as Props;
---

<section class="mb-8">
  <div class="flex justify-center">
    <div
      class="flex justify-items-center block rounded-lg bg-cover px-[200px] dark:bg-neutral-700 bg-center w-3/4 h-auto bg-no-repeat max-sm:px-0 max-lg:px-5"
      style={`background-image:linear-gradient(to bottom, transparent, white), url(${pageHeaderBgImg});`}
    >
      <div class="">
        <div class="flex justify-center items-center">
          <div class="col-sm-9 text-center mx-auto pt-10 my-5 py-20">
            <h1
              class="mb-10 text-5xl font-bold text-slate-800 max-sm:text-xl max-lg:text-3xl"
            >
              Exclusive Discounts for Members
            </h1>
            <p
              class="lead px-[70px] mb-5 mx-10 text-xl text-slate-500 max-sm:text-sm max-sm:px-0 max-lg:text-lg max-lg:px-0"
            >
              The time is now for it to be okay to be great. People in this
              world shun people for being great. For being a bright color. For
              standing out. But the time is now to be okay to be the greatest
              you.
            </p>
            <button
              class="text-white bg-slate-800 hover:bg-slate-800/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 me-2 mb-2"
            >
              <svg
                class="me-2"
                width="15"
                height="15"
                viewBox="0 0 15 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.00002 3.4999C4.00002 2.34011 4.94023 1.3999 6.10002 1.3999C6.63788 1.3999 7.12849 1.6021 7.50002 1.93463C7.87158 1.6021 8.36214 1.3999 8.90002 1.3999C10.0599 1.3999 11 2.34011 11 3.4999C11 3.74535 10.9579 3.98096 10.8805 4.1999H11.7C12.4732 4.1999 13.1 4.8267 13.1 5.5999C13.1 6.3731 12.4732 6.9999 11.7 6.9999H8.20002V6.2999C8.20002 5.91331 7.88663 5.5999 7.50002 5.5999C7.11343 5.5999 6.80002 5.9133 6.80002 6.2999V6.9999H3.30002C2.52683 6.9999 1.90002 6.3731 1.90002 5.5999C1.90002 4.8267 2.52683 4.1999 3.30002 4.1999H4.11952C4.04213 3.98096 4.00002 3.74535 4.00002 3.4999ZM6.80002 4.1999V3.4999C6.80002 3.11331 6.48662 2.7999 6.10002 2.7999C5.71343 2.7999 5.40002 3.11331 5.40002 3.4999C5.40002 3.8865 5.71343 4.1999 6.10002 4.1999H6.80002ZM8.90002 4.1999C9.28663 4.1999 9.60003 3.8865 9.60003 3.4999C9.60003 3.11331 9.28663 2.7999 8.90002 2.7999C8.51341 2.7999 8.20002 3.11331 8.20002 3.4999V4.1999H8.90002Z"
                  fill="white"></path>
                <path
                  d="M6.79998 7.69995H2.59998V11.2C2.59998 11.9732 3.22678 12.6 3.99998 12.6H6.79998V7.69995Z"
                  fill="white"></path>
                <path
                  d="M8.20001 12.6H11C11.7732 12.6 12.4 11.9732 12.4 11.2V7.69995H8.20001V12.6Z"
                  fill="white"></path>
              </svg>
              Get your code
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
