---
// Importar los componentes necesarios
import Description from "../Description.astro";
// Definir las props que el componente aceptará
interface Props {
  title: string;
  full_description: string;
}

// Definir el componente
const { title, full_description } = Astro.props as Props;
---

<div class="card card-product card-plain my-20 mx-20 max-sm:mx-5">
  <div class="flex flex-row justify-center items-center">
    <!-- <div class="col-12 col-lg-7 text-center mb-20 mx-0 px-0 sm:mx-10 sm:px-20">
      {
        title.length != 0 && (
          <h2 class="mb-3 text-indigo-950 text-4xl font-bold">{title}</h2>
        )
      }
      {
        full_description.length != 0 && (
          <p class="mb-5 text-slate-500 mb-20  max-sm:mx-0 max-sm:md-0 max-sm:lg-0">
            {full_description}
          </p>
        )
      }
    </div> -->
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="col-12 col-lg-6 pe-5">
      <div class="flex flex-wrap mx-50">
        <h4 class="mb-3 text-indigo-950 text-3xl font-bold text-2xl mb-10">
          ¿Por qué elegir Gelatican?
        </h4>
        <p class="text-slate-500 mb-20">
          Gelatican es la elección ideal para quienes buscan un alimento
          saludable y sostenible para sus mascotas. Nuestra gelatina para perros
          está hecha a partir de residuos orgánicos, lo que no solo reduce el
          desperdicio, sino que también proporciona una fuente nutritiva de
          alimentos. Con ingredientes naturales y un sabor que a los perros les
          encanta, Gelatican apoya la salud y el bienestar de tu mascota
          mientras cuida del planeta. Al optar por Gelatican, estás eligiendo
          calidad, sostenibilidad y el compromiso de ofrecer lo mejor para tu
          fiel compañero y nuestro entorno.
        </p>
        <Description
          paragraphText="Salud y Nutrición: Gelatican está repleto de nutrientes esenciales que apoyan la salud y el bienestar de tu perro."
        />

        <Description
          paragraphText="Sostenibilidad: Utilizamos residuos orgánicos, reduciendo el desperdicio y apoyando prácticas ecológicas."
        />

        <Description
          paragraphText="Sabor Increíble: A los perros les encanta el sabor, y a los dueños les encanta saber que están haciendo una elección responsable."
        />
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 justify-items-center align-items-center">
      <div class="col-span-2">
        <img
          class="w-full max-h-41 object-cover rounded-lg mb-2 dark:shadow-gray-800 object-cover object-center bg-cover"
          src={`https://github.com/henqchav/Gelatican/blob/main/public/images/mookup1.png?raw=true`}
          alt="mookup1"
        />
      </div>

      <div class="col-6">
        <img
          class="w-50 max-height-100 rounded-lg dark:shadow-gray-800"
          src={`https://github.com/henqchav/Gelatican/blob/main/public/images/mookup.png?raw=true`}
          alt="mookup"
        />
      </div>
      <div class="col-6">
        <img
          class="w-100 max-height-200 rounded-lg dark:shadow-gray-800"
          src={`https://github.com/henqchav/Gelatican/blob/main/public/images/jelly.jpg?raw=true`}
          alt="jelly"
        />
      </div>
    </div>
  </div>
</div>
